<ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let item of dataProducts()">
        <div class="ps-block--promotion-header bg--cover"
            style="background: url({{path}}img/products/{{item.category}}/top/{{item.top_banner[6][1]}});">
            <div class="carousel-caption">
                <div class="container1">
                    <div class="ps-block__left">
                        <h3>{{item.top_banner[0][1]}}</h3>
                        <figure>
                            <p>{{item.top_banner[1][1]}}</p>
                            <h4>{{item.top_banner[2][1]}}</h4>
                        </figure>
                    </div>
                    <div class="ps-block__center">
                        <p>{{item.top_banner[3][1]}}<span>{{item.top_banner[4][1]}}</span></p>
                    </div><a class="ps-btn ps-btn--sm" [routerLink]="['/product/{{item.url}}']"
                        routerLinkActive="router-link-active">{{item.top_banner[5][1]}}</a>
                </div>
            </div>
        </div>
    </ng-template>

</ngb-carousel>