<div class="ps-block--promotion-header bg--cover" style="background: url({{path}}img/banner/top/{{img_tag}});">

    <div class="container">
        <div class="ps-block__left">
            <h3>{{h3_tag}}</h3>
            <figure>
                <p>{{p1_tag}}</p>
                <h4>{{h4_tag}}</h4>
            </figure>
        </div>
        <div class="ps-block__center">
            <p>{{p2_tag}}<span>{{span_tag}}</span></p>
        </div><a class="ps-btn ps-btn--sm" href="#">{{button_tag}}</a>
    </div>
</div>