<!--=====================================
    				Best Sale Items
    				======================================-->

<div class="ps-block--shop-features">

    <div class="ps-block__header">

        <h3>Best Sale Items</h3>

        <div class="ps-block__navigation">

            <a class="ps-carousel__prev" data-target="#carouselExampleControls" data-slide="prev">
                <i class="icon-chevron-left"></i>
            </a>

            <a class="ps-carousel__next" data-target="#carouselExampleControls" data-slide="next">
                <i class="icon-chevron-right"></i>
            </a>

        </div>

    </div>

    <div class="ps-block__content">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <img src="..." class="d-block w-100" alt="..."> -->
                    <marketplace-item-detail class="d-block w-100"></marketplace-item-detail>
                </div>
                <!-- <div class="carousel-item "> -->
                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                <!-- <marketplace-item-detail></marketplace-item-detail> -->
                <!-- </div> -->

            </div>
        </div>


    </div>

</div><!-- End Best Sales Items -->