<!--=====================================
	Section Gray
	======================================-->

<div class="ps-section--gray" *ngIf="preload">

    <div class="container">

        <!--=====================================
			Products of category
			======================================-->

        <div class="ps-block--products-of-category" *ngFor="let category of categories()">

            <!--=====================================
				Menu subcategory
				======================================-->

            <div class="ps-block__categories" *ngIf="category.url == 'Salud-Belleza'">

                <h3>{{category?.name}}</h3>
                <div *ngFor="let subCategory of subcategories()">
                    <ul *ngIf="category?.name == subCategory.category">
                        <li><a [routerLink]="['/products/{{subcategory.url}}']">{{subCategory.subCategory}}</a></li>

                    </ul>

                    <a class="ps-block__more-link" href="">View All</a>

                </div>

            </div>

            <!--=====================================
				Vertical Slider Category
				======================================-->

            <div class="ps-block__slider" *ngIf="category.url == 'Salud-Belleza'">
                <ngb-carousel [showNavigationIndicators]="false" [interval]="5000">

                    <ng-template ngbSlide *ngFor="let slide of healtAndBeautyProducts()">
                        <div class="ps-banner--market-4">
                            <div class="carousel-caption">
                                <img src="assets/img/products/{{slide.category}}/vertical/{{slide.vertical_slider}}"
                                    alt="">
                            </div>
                        </div>

                    </ng-template>
                </ngb-carousel>
                <!-- <div class="ps-carousel--product-box owl-slider" data-owl-auto="true" data-owl-loop="true"
                    data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1"
                    data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1"
                    data-owl-duration="500" data-owl-mousedrag="off">

                    <a href="#">

                        <img src="assets/img/slider/vertical/clothing-1.jpg" alt="">

                    </a>

                </div> -->

            </div>
            <!--=====================================
				Block Product Box
				======================================-->

            <div class="ps-block__product-box" *ngIf="category.url == 'Salud-Belleza'">

                <!--=====================================
					Product Simple
					======================================-->
                <div *ngFor="let product of productsFilteredByCategory()">
                    <div class="ps-product ps-product--simple" *ngIf="'Salud-Belleza' == product.category">

                        <div class="ps-product__thumbnail">

                            <a href="product-default.html">

                                <img src="assets/img/products/{{product.category}}/{{product.image}}"
                                    alt="{{product.name}}">

                            </a>

                            <div class="ps-product__badge">-16%</div>

                        </div>

                        <div class="ps-product__container">

                            <div class="ps-product__content" data-mh="clothing">

                                <a class="ps-product__title" routerLink="/product/{{product.url}}">{{product.name}}</a>
                                <div class="ps-product__rating ">
                                    <!-- <ngb-rating class="ps-rating" [max]="5" [(rate)]="rating" [disabled]="true">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="bi-star{{fill === 100 ? '-fill' : ''}}"
                                                [class.filled]="fill === 100"></span>
                                        </ng-template>
                                    </ngb-rating> -->
                                    <ngb-rating [rate]="rating" [max]=5 [readonly]=true>
                                        <ng-template let-fill="fill">
                                            <span [ngClass]="'color'+rating"
                                                [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                    <span>{{rating}}</span>
                                </div>
                                <!-- <div class="ps-product__rating">
                                    <div class="mb-3 ps-rating">

                                        <select class="ps-rating" data-read-only="true">
 -->
                                <p class="ps-product__price sale">${{offer()}} <del>{{product.price}} </del></p>

                            </div>

                        </div> <!-- End Product Simple -->
                    </div>
                </div><!-- End Block Product Box -->

            </div><!-- End Products of category -->

        </div><!-- End Container-->

        <div *ngIf="!preload" class="d-flex justify-content-center">

            <div class="spinner-border text-muted my-5"></div>

        </div>

    </div><!-- End Section Gray-->