.carousel-caption {
    display: inline;
    position: initial;
    height: 500px;
    padding: 0;

}

.ps-product .ps-product__badge {
    position: relative !important;
    top: 4% !important;
    right: 2% !important;
}