<!--=====================================
    							Product
    							======================================-->

<section *ngFor="let product of products" class="ps-product">

    <div class="ps-product__thumbnail">

        <a routerLink="product/{{product.url}}">
            <img src="assets/img/products/{{product.category}}/{{product.image}}" alt="{{product.name}}">
        </a>

        <ul class="ps-product__actions">

            <li>
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                    <i class="icon-bag2"></i>
                </a>
            </li>

            <li>
                <a routerLink="product/{{product.url}}" data-toggle="tooltip" data-placement="top" title="Quick View">
                    <i class="icon-eye"></i>
                </a>
            </li>

            <li>
                <a data-toggle="tooltip" data-placement="top" title="Add to Whishlist">
                    <i class="icon-heart"></i>
                </a>
            </li>

        </ul>

    </div>

    <div class="ps-product__container">

        <a class="ps-product__vendor">{{product.store}}</a>

        <div class="ps-product__content">

            <a class="ps-product__title" routerLink="product/{{product.url}}">
                {{product.name}}</a>

            <marketplace-rating [product]="product"></marketplace-rating>

            <marketplace-offers [product]="product"></marketplace-offers>
            <!-- <p class="ps-product__price">$22.99 - $32.99</p> -->

        </div>

        <div class="ps-product__content hover">

            <a class="ps-product__title" routerLink="product/{{product.url}}">
                {{product.name}}</a>
            pppp
            <marketplace-offers [product]="product"></marketplace-offers>

        </div>

    </div>

</section>