<div class="ps-product__thumbnail">

    <figure>

        <div class="ps-wrapper">

            <div class="ps-product__gallery">

                <ngb-carousel #secondCarousel [showNavigationArrows]="false" [showNavigationIndicators]="false"
                    [interval]="3000">

                    <ng-template ngbSlide #secondSlide *ngFor="let image of offers?.gallery;let i =index"
                        [id]="(i+1).toString()">


                        <div class="item">
                            <!-- <a href="assets/img/products/{{category}}/gallery/{{image}}"> -->
                            <img src="assets/img/products/{{offers?.category}}/gallery/{{image}}"
                                alt="{{offers?.category}}">

                            <!-- </a> -->
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>

            <div class="ps-product__badge">
                <span>Save <br> ${{savings}} </span>
            </div>
        </div>

    </figure>

    <div class="ps-product__variants">

        <div class="item" *ngFor="let image of offers?.gallery; let i = index" (click)="showImage((i+1).toString())">
            <img src="assets/img/products/{{offers?.category}}/gallery/{{image}}" alt="{{offers?.category}}">
        </div>

    </div>

</div>