<div class="ps-pagination">

    <ul class="pagination">
        <li *ngIf="currentPage != 1" (click)="changePage(currentPage - 1)">
            <a>Prev Page<i class="icon-chevron-left"></i></a>
        </li>
        <li *ngFor="let i of totalPagesAsArray;" [ngClass]="{'active': currentPage === i + 1}"
            (click)="changePage(i + 1)"><a>{{i + 1}}</a> </li>

        <li *ngIf="currentPage < totalPages" (click)="changePage(currentPage + 1)">
            <a>Next Page<i class="icon-chevron-right"></i></a>
        </li>
    </ul>


</div>