.sub-toggle1 {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

.ps-shop__filter-mb {
    font-size: 2rem;
}

.current-menu-item {
    font-size: 1.3rem;
    padding: 1%;
}