<div class="ps-promotions">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-12 " *ngFor="let banner of sampleProductData().slice(0,2)">
                <a class="ps-collection" [routerLink]="['/products/{{banner.url}}']">
                    <img src="{{path}}/img/products/{{banner.category}}/default/{{banner.default_banner}}"
                        alt="{{banner.default_banner}}">
                </a>
            </div>
        </div>

    </div>

</div>