<section class="ps-block--shop-features">

    <div class="ps-block__header">

        <h3>Productos Recomendados</h3>

        <div class="ps-block__navigation">

            <a class="ps-carousel__prev" data-target="#carouselExampleControls" data-slide="prev">
                <i class="icon-chevron-left"></i>
            </a>

            <a class="ps-carousel__next" data-target="#carouselExampleControls" data-slide="next">
                <i class="icon-chevron-right"></i>
            </a>

        </div>

    </div>

    <div class="ps-block__content">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">


                <div class="carousel-item active">
                    <marketplace-item-detail-gird-view [products]='products.slice(0,5)'
                        class="d-flex w-100"></marketplace-item-detail-gird-view>
                </div>

                <div class="carousel-item " *ngIf="products.length>5">
                    <marketplace-item-detail-gird-view [products]='products.slice(5,10)'
                        class="d-flex w-100"></marketplace-item-detail-gird-view>
                </div>
                <div class="carousel-item " *ngIf="products.length>10">
                    <marketplace-item-detail-gird-view [products]='products.slice(10,15)'
                        class="d-flex w-100"></marketplace-item-detail-gird-view>
                </div>

            </div>
        </div>



    </div>

</section>
<!-- End Recommended Items -->