<div class="ps-shopping__header">

    <span><strong> 36</strong> Products found</span>

    <div class="ps-shopping__actions">

        <select class="ps-select" data-placeholder="Sort Items">

            <option>Sort by latest</option>
            <option>Sort by popularity</option>
            <option>Sort by average rating</option>
            <option>Sort by price: low to high</option>
            <option>Sort by price: high to low</option>

        </select>

        <div class="ps-shopping__view">

            <span>View</span>

            <ul class="ps-tab-list">

                <li [class.active]="activeTab === 1" (click)="changeTab(1)">
                    <a>
                        <i class="icon-grid"></i>
                    </a>
                </li>

                <li [class.active]="activeTab === 2" (click)="changeTab(2)">
                    <a>
                        <i class="icon-list4"></i>
                    </a>
                </li>

            </ul>

        </div>

    </div>

</div>