<section class="ps-shopping ps-tab-root">

    <!--=====================================
    Shoping Header
    ======================================-->

    <marketplace-catalog-header (activeView)="changeView($event)"></marketplace-catalog-header>


    <!--=====================================
    Shoping Body
    ======================================-->

    <div class="ps-tabs">

        <!--=====================================
        Grid View
        ======================================-->

        <article class="ps-tab active" *ngIf="viewOfTap == 1">

            <div class="ps-shopping-product">

                <div class="row">

                    <marketplace-item-detail-gird-view [products]='products'
                        class="d-flex w-100 mx-4"></marketplace-item-detail-gird-view>

                </div>

            </div>

            <marketplace-catalog-pagination></marketplace-catalog-pagination>

        </article>
        <!-- End Grid View-->

        <!--=====================================
        List View
        ======================================-->

        <article class="ps-tab active" *ngIf="viewOfTap == 2">

            <div class="ps-shopping-product">

                <marketplace-item-detail-list-view [products]='products'
                    class="d-block w-100 px-5"></marketplace-item-detail-list-view>


            </div>

            <marketplace-catalog-pagination></marketplace-catalog-pagination>


        </article>

    </div>

</section>