<div class="ps-block__header">

    <h3>Deal hot today</h3>

    <div class="ps-block__navigation">
        <a class="ps-carousel__prev" (click)="previousCarousel()">
            <i class="icon-chevron-left"></i>
        </a>
        <a class="ps-carousel__next" (click)="nextsCarousel()">
            <i class="icon-chevron-right"></i>
        </a>
    </div>

</div>


<div class="ps-product__content">
    <!--=====================================
        Product Deal Home
        ======================================-->
    <ngb-carousel #firstCarousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="1000000">

        <ng-template ngbSlide #firstSlide *ngFor="let item of productsOffers">

            <div class="ps-product--detail ps-product--hot-deal">

                <div class="ps-product__header">

                    <marketplace-carousel-gallery [offers]="item" [path]="path"
                        (dataOffer)="dataOffer($event)"></marketplace-carousel-gallery>

                    <div class="ps-product__info">

                        <h5>{{item.category}}</h5>

                        <h3 class="ps-product__name">{{item.name}}</h3>

                        <div class="ps-product__meta">

                            <h4 class="ps-product__price sale">${{discount}} <del> {{item.price}}</del></h4>

                            <div class="ps-product__rating">
                                <select class="ps-rating" data-read-only="true">

                                    <option value="1" class="fa fa-star">1</option>
                                    <option value="1" class="fa fa-star">2</option>
                                    <option value="1" class="fa fa-star">3</option>
                                    <option value="1" class="fa fa-star">4</option>
                                    <option value="2" class="fa fa-star">5</option>

                                </select>

                                <span>{{rating}}</span>

                            </div>

                            <div class="ps-product__specification">

                                <p>Status:<strong class="in-stock"> In Stock</strong></p>

                            </div>

                        </div>

                        <lib-countdown-timer [finishDateString]="dateDiscount"></lib-countdown-timer>

                        <div class="ps-product__processs-bar">

                            <div class="ps-progress" data-value="10">
                                <span class="ps-progress__value"></span>
                            </div>

                            <p><strong>4/79</strong> Sold</p>

                        </div>

                    </div>

                </div>

            </div>
        </ng-template>

    </ngb-carousel>
</div>