<div class="ps-block__header">

    <h3>Deal hot today</h3>

    <div class="ps-block__navigation">
        <a class="ps-carousel__prev" (click)="previousCarousel()">
            <i class="icon-chevron-left"></i>
        </a>
        <a class="ps-carousel__next" (click)="nextsCarousel()">
            <i class="icon-chevron-right"></i>
        </a>
    </div>

</div>


<div class="ps-product__content">
    <!--=====================================
        Product Deal Home
        ======================================-->
    <ngb-carousel #firstCarousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="1000000">

        <ng-template ngbSlide #firstSlide *ngFor="let item of productsOffers">

            <div class="ps-product--detail ps-product--hot-deal">

                <div class="ps-product__header">

                    <marketplace-carousel-gallery [offers]="item" [path]="path"
                        (dataOffer)="dataOffer($event)"></marketplace-carousel-gallery>
                    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="..." class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div> -->
                    <div class="ps-product__info">

                        <h5>{{item.category}}</h5>

                        <h3 class="ps-product__name">{{item.name}}</h3>

                        <div class="ps-product__meta">

                            <h4 class="ps-product__price sale">${{discount}} <del> {{item.price}}</del></h4>

                            <div class="ps-product__rating">

                                <select class="ps-rating" data-read-only="true">

                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>

                                </select>

                                <span>(1 review)</span>

                            </div>

                            <div class="ps-product__specification">

                                <p>Status:<strong class="in-stock"> In Stock</strong></p>

                            </div>

                        </div>

                        <lib-countdown-timer [finishDateString]="dateDiscount"></lib-countdown-timer>
                        <!-- <div class="ps-product__expires">

                            <p>Expires In</p>

                            <ul class="ps-countdown" data-time="July 21, 2020 23:00:00">

                                <li><span class="days"></span>
                                    <p>Days</p>
                                </li>

                                <li><span class="hours"></span>
                                    <p>Hours</p>
                                </li>

                                <li><span class="minutes"></span>
                                    <p>Minutes</p>
                                </li>

                                <li><span class="seconds"></span>
                                    <p>Seconds</p>
                                </li>

                            </ul>

                        </div> -->

                        <div class="ps-product__processs-bar">

                            <div class="ps-progress" data-value="10">
                                <span class="ps-progress__value"></span>
                            </div>

                            <p><strong>4/79</strong> Sold</p>

                        </div>

                    </div>

                </div>

            </div>
        </ng-template>

    </ngb-carousel>
</div>