<marketplace-products-breadcrumb></marketplace-products-breadcrumb>
<!--=====================================
    Categories Content
    ======================================-->

<div class="container-fuid bg-white my-4">

    <div class="container">

        <!--=====================================
			Layout Categories
			======================================-->

        <div class="ps-layout--shop">

            <section>

                <marketplace-best-sales-item></marketplace-best-sales-item>
                <marketplace-products-recomended></marketplace-products-recomended>
                <marketplace-products-catalog></marketplace-products-catalog>
            </section>
        </div>
    </div>
</div>