<!--=====================================
    	Home Deal Hot Today
    	======================================-->

<div class="ps-deal-hot">

    <div class="container">

        <div class="row">

            <!--=====================================
					Column Deal Hot
    				======================================-->

            <div class="col-xl-9 col-12 ">

                <div class="ps-block--deal-hot" data-mh="dealhot">


                    <marketplace-carousel-deal-hot [path]="path"></marketplace-carousel-deal-hot>


                </div><!-- End deal hot -->

            </div><!-- End Columns -->

            <!--=====================================
					Column Top 20 Best Seller
    				======================================-->

            <div class="col-xl-3 col-12 ">

                <aside class="widget widget_best-sale" data-mh="dealhot">

                    <marketplace-carousel-top-best-seller [path]="path"></marketplace-carousel-top-best-seller>
                </aside><!-- End Aside -->

            </div><!-- End Columns -->

        </div>

    </div>

</div><!-- End Home Deal Hot -->