/* You can add global styles to this file, and also import other style files */

.accordion-header>.accordion-button {
    border: none !important;
    background-color: transparent !important;
    font: initial !important;
}

.carousel-indicators {
    display: none !important;
}

.carousel-item span {
    display: none !important;
}